:root {
  --color-heading: #ea580c;
  --color-secondary: #fffbeb;
  --font-main: "Audiowide", cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  text-align: center;
  color: var(--color-secondary);
  font-family: var(--font-main);
}

/*  


h1 {
  font-size: 5rem;
  color: var(--color-heading);
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 0.7rem;
  background-color: transparent;
  border: 3px solid #fffbeb;
  color: var(--color-secondary);
  cursor: pointer;
  margin: 1rem;
  font-family: var(--font-main);
  font-size: 1.5rem;
}

div .statistics {
  /* display: flex;
justify-items: end;
align-items: center; */
/* 
  margin-bottom: -52rem;
  margin-right: -70rem;
  color: var(--color-secondary);
  line-height: 1.5;
} */

/* .info {
    justify-self: end;
    align-self: center;
} */
/* 
#time,
#hits,
#accuracy {
  color: var(--color-heading);
} */

/* .board {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  flex: 1;
  /* background-color: ; */
/* position:relative; */
/*  
  
} */

#screen {
  background-image: url(/bg.png);
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 650px;
  height: 650px;
  position: relative;
  cursor: url(/7067443_goal_target_aim_icon.svg);
}

.circle {
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url(/8633028_2_monster_8bit_pet_icon.svg);
  z-index: 32423452;
}

/* @keyframes circle {
  100% {
    transfrom: scale(0);
  } 
} */

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 650px;
  height: 60px;
  background-color: blue;
  line-height: 1.5;
}

p {
  font-size: 1.3rem;
  color: var(--color-secondary);
}

span.score {
  color: #fde047;
  font-size: 1.5rem;
}

.game-over {
  background-color: var(--color-heading);
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  visibility: hidden;
  z-index: 32423452;
}

h3 {
  margin-top: 4rem;
  font-size: 1.5rem;
}
.retry {
  padding: 0.7rem;
  background-color: transparent;
  border: 4px solid #fffbeb;
  color: var(--color-secondary);
  cursor: pointer;
  font-family: var(--font-main);
  font-size: 1.5rem;
  width: 30%;
  margin-top: 3rem;
}

.score-result {
  height: 50px;
  font-size: 2rem;
  font-weight: bold;
}
